.example-card {
    max-width: 400px;
  }
  
  .img-container {
    text-align: center;
    img {
        height: 340px;
        width: 340px
    }
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }